@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 2rem auto 0rem auto;
  min-width: 320px;
  /* min-height: 80vh; */
}

.text-black {
  color: black;
}


.invoice-items {
  margin: 2rem 0;
}
